/** County setup
*************************************/
@font-face {
    font-family: 'county';
    src: url('../font/county-webfont.eot');
    src: url('../font/county-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/county-webfont.woff') format('woff'),
         url('../font/county-webfont.ttf') format('truetype'),
         url('../font/county-webfont.svg#countyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.county {
  font: normal normal 600px/100% "county";
  font-size-adjust: none;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga=1";
  -ms-font-feature-settings: "liga" 1;
  -ms-font-feature-settings: "liga", "dlig";
  overflow: hidden;
  width: 600px;
  display: block;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.county li, .county div {
  float: left;
  margin: -10% 0 0 -100%;
  position: relative;
  left: 101%;
  width: 100%;
  cursor: default; 
  -webkit-transition: all 1s ease-in;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/** Style customizations
*************************************/
.county {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  border-top: 1px solid #dddddd;
}
